# ¿Existe una relación entre el tiempo que las personas con diabetes están en el hospital y el número de laboratorios que les hacen?

### El primer paso es importar las librerías que vamos a usar de la siguiente manera:

In [1]:
import matplotlib
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd

### Luego importamos el Data set de nuestra computadora

In [2]:
datos = pd.read_csv("diabetic_data.csv")

### Para responder a esta pregunta necesitamos las variables del tiempo que las personas estan en el hospital y la cantidad de procedimientos de laboratorios que les hacen.

### Vamos a filtrar la información del data set para definir unicamente la información que vamos a necesitar:

In [3]:
tiempo = datos.time_in_hospital

labs = datos.num_lab_procedures

### Una vez ya le asignamos las variables a cada filtro, hacemos un dataframe con las dos variables que vamos a usar.

In [4]:
dfcuant = pd.DataFrame({'Tiempo en el hospital' : tiempo,
                'Num. de laboratorios': labs})

### Ahora agrupamos la data con respecto a la variable de 'Tiempo en el hospital', la cual es nuestra variable independiente

In [5]:
bylabs = dfcuant.groupby('Tiempo en el hospital')

### Debido a que necesitamos menos datos para tener una mejor visualización de la gráfica, vamos a sacar la media del número de laboratorios para cada cantidad de días en el hospital.

In [6]:
meanlabs = bylabs["Num. de laboratorios"].mean()

### Una vez ya tenemos las medias para cada día, con la siguiente función obtendremos la gráfica de relación entre las dos variables para poder visualizarla mejor.

In [7]:
grafrelacion = plt.plot(meanlabs)

In [8]:
print dfcuant

        Num. de laboratorios  Tiempo en el hospital
0                         41                      1
1                         59                      3
2                         11                      2
3                         44                      2
4                         51                      1
5                         31                      3
6                         70                      4
7                         73                      5
8                         68                     13
9                         33                     12
10                        47                      9
11                        62                      7
12                        60                      7
13                        55                     10
14                        49                      1
15                        75                     12
16                        45                      4
17                        29                      3
18                        35                      5
19                        42                      6
20                        66                      2
21                        36                      2
22                        47                      2
23                        42                     11
24                        19                      3
25                        33                      1
26                        64                      6
27                        25                      2
28                        53                     10
29                        52                      5
...                      ...                    ...
101736                    54                      8
101737                    50                      4
101738                    37                      1
101739                    32                      1
101740                     1                      1
101741                    21                      4
101742                    43                      4
101743                    45                      3
101744                    49                      1
101745                    57                      3
101746                     2                      4
101747                    51                      8
101748                    69                     14
101749                    27                      3
101750                    31                      3
101751                    77                     13
101752                    13                      3
101753                    51                     13
101754                    50                      9
101755                    73                     14
101756                    46                      2
101757                    21                      5
101758                    76                      5
101759                     1                      1
101760                    45                      6
101761                    51                      3
101762                    33                      5
101763                    53                      1
101764                    45                     10
101765                    13                      6

[101766 rows x 2 columns]

In [10]:
print meanlabs

Tiempo en el hospital
1     32.917511
2     37.697109
3     40.386405
4     43.801422
5     46.753361
6     48.497944
7     50.115207
8     51.423138
9     53.267488
10    53.566183
11    54.258221
12    54.889503
13    55.604132
14    55.592131
Name: Num. de laboratorios, dtype: float64